$primary-color: #b2a5ff; /* Light purple for toolbar and tab bar background */
$secondary-color: #493d9e; /* Dark purple for content background */
$accent-color: #dad2ff; /* Light purple for item background and selected tab */
$text-color: black; /* Black text color */
$highlight-color: #fff2af; /* Yellow color for highlights */
$background-color: #f5f5f5; /* Light gray for general backgrounds */
$disabled-color: slategray; /* Light gray for general backgrounds */
$selected-color: #d6f078;
